@import "../../../variables.scss";

.product-item {
  .menu-toggle {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .product-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }

  @media (max-width: $media-mobile) {
    border: 2px solid $green;
    background: $gray;
    transition: all 0.45s;

    &:hover {
      border-color: $greenDark;
      background: $white;
    }
  }
}
